body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
.img
{
    background-image: url("/gaming/banner-bg.jpg");
    height:60pc;
    border-radius: 0px 0px 150px 150px;
}
.header {
    padding:50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav
{
    padding-left:30px;
}
.nav img {
    width:158px;
}

.navbar {
    font-family: sans-serif;
    font-size: 15px;
    list-style: none;
    display: flex;
    gap: 50px;
    padding-left:400px;
}

.navbar li a {
    color: white;
    text-decoration: none;
    font-size: 15px;
}
.header .sign 
{
    padding-right: 30px;   
}
.header .sign a
{
    text-transform:uppercase ;
    border-radius: 50px;
    background-color: #ee626b;
    font-size: 15px;
    font-family: sans-serif;
    color: white;
    text-decoration: none;
    padding: 10px;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding:40px;
    font-family: sans-serif;
}

.content-wrapper {
    display: flex;
    width: 100%;
}

.container .row {
    flex: 1;
    margin-left: 30px;
}
.row h6
{
    color: white;
    font-size: 20px;
}
.row h2
{
    color: white;
    font-size: 48px;
}
.row p
{
    color: white;
    font-size: 14px;
}
.row img
{
    position: absolute;
    left:13pc;
    top: 27pc;
}
.search-input input
{
    max-width: 450px;
    width: 100%;
    height: 50px;
    outline: none;
    border-radius: 25px;
    background-color: #fff;
    border: none;
    padding: 0px 25px;
    font-size: 14px;
    color: #7a7a7a;
}
.search-input button
{
    display: inline-block;
    height: 50px;
    line-height: 50px;
    background-color: #ee626b;
    color: #fff;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 500;
    border: none;
    border-radius: 25px;
    position: absolute;
    right: 42.8pc;
    top: 39.8pc;
}
.search-input button:hover
{
    background-color: #0071f8;
    cursor: pointer;
}
.right-image {
    max-width: 300px;
}

.right-image img {
    width: 100%;
    display: block;
    border-radius: 25px;
}
.right-image .image1
{
    margin-right: 40px;
}
.right-image .price
{
    position: absolute;
    right: 6pc;
    top: 21pc;
    border-radius: 25px;
    background-color: #008af8;
    font-size: 22px;
    text-transform: uppercase;
    font-weight: 700;
    color: #fff;
    padding: 4px 15px;
}
.right-image .offer
{
    position: absolute;
    left: 54pc;
    top:36pc;
    border-radius: 50%;
    background-color: #ee626b;
    font-size: 28px;
    text-transform: uppercase;
    font-weight: 700;
    color: #fff;
    display: inline-block;
    width: 100px;
    height: 100px;
    text-align: center;
    line-height: 100px;
}
.item {
    position: absolute;
    top: 54pc;
    left: 6%;
    text-align: center;
    background-color: white;
    padding: 35px;
    border-radius: 15px;
    width: 12pc;
    font-family: sans-serif;
    z-index: 10;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
}
.item .image2 img
{
    background-color: #008af8;
    padding: 20px;
    border-radius:50px;
}
.item .image2 img:hover
{
    background-color: #ee626b;
}
a
{
    text-decoration: none;
}
.item h4
{
    text-transform: uppercase;
    font-size: 17px;
    color: black;
}
.item1 {
    position: absolute;
    top: 54pc;
    left: 28.5%;
    text-align: center;
    background-color: white;
    padding: 35px;
    border-radius: 15px;
    width: 12pc;
    font-family: sans-serif;
    z-index: 10;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
}
.item1 .image3 img
{
    background-color: #008af8;
    padding: 20px;
    border-radius:50px;
}
.item1 .image3 img:hover
{
    background-color: #ee626b;
}
a
{
    text-decoration: none;
}
.item1 h4
{
    text-transform: uppercase;
    font-size: 17px;
    color: black;
}
.item2 {
    position: absolute;
    top: 54pc;
    left: 51.1%;
    text-align: center;
    background-color: white;
    padding: 35px;
    border-radius: 15px;
    width: 12pc;
    font-family: sans-serif;
    z-index: 10;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
}
.item2 .image4 img
{
    background-color: #008af8;
    padding: 20px;
    border-radius:50px;
}
.item2 .image4 img:hover
{
    background-color: #ee626b;
}
a
{
    text-decoration: none;
}
.item2 h4
{
    text-transform: uppercase;
    font-size: 17px;
    color: black;
}
.item3 {
    position: absolute;
    top: 54pc;
    left: 73.8%;
    text-align: center;
    background-color: white;
    padding: 35px;
    border-radius: 15px;
    width: 12pc;
    font-family: sans-serif;
    z-index: 10;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
}
.item3 .image5 img
{
    background-color: #008af8;
    padding: 20px;
    border-radius:50px;
}
.item3 .image5 img:hover
{
    background-color: #ee626b;
}
a
{
    text-decoration: none;
}
.item3 h4
{
    text-transform: uppercase;
    font-size: 17px;
    color: black;
}
.div1
{
    margin-top: 15pc;
    font-family: sans-serif;
}
.div2
{
    margin-left: 8pc;
}
.div2 h6
{
    color: #ee626b;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 700;
}
.div2 .header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-content a {
    text-decoration: none;
    display: inline-block;
    background-color: #ee626b;
    text-transform: uppercase;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    height: 50px;
    line-height: 50px;
    padding: 0px 30px;
    border-radius: 25px;
    margin-right: 8pc;
}
.header-content h2
{
    font-size: 36px;
    font-weight: 700;
    text-transform: capitalize;
    margin-top: 20px;
    line-height: 44px;
}

.thumb img
{
    width:16pc;
    border-radius:25px;
    height: 200px;
}
.img1
{
    background-color: #eeeeee;
    width: 15pc;
    height: 18pc;
    border-radius: 25px;
    margin-left:8pc;
}
.img1 em
{
    font-style: normal;
    font-size: 14px;
}
.img1 .price
{
    text-align: right;
    position: absolute;
    left: 9pc;
    top: 85.7pc;
    border-radius: 10px;
    background-color: #008af8;
    font-size: 17px;
    text-transform: uppercase;
    font-weight: 600;
    color: #fff;
    padding: 8px 15px 6px 15px;
}
.cat .category
{
    font-size: 14px;
    color: #7a7a7a;
    margin-top: 1pc;
    display: inline-block;
}
.cat
{
    margin-left: 2pc;
}
.cat i
{
    color: white;
    position: absolute;
    top: 98pc;
    left:18pc;
    background-color:#ee626b;
    padding:10px;
    border-radius: 50px;
}
.cat i:hover
{
    background-color: #0071f8;
}
.cat h4:hover
{
    color: #0071f8;
}
.img2
{
    background-color: #eeeeee;
    width: 15pc;
    height: 18pc;
    border-radius: 25px;
    position: absolute;
    top: 84pc;
    left: 24pc;
}
.img2 .price1
{
    text-align: right;
    position: absolute;
    left: 10pc;
    top: 3pc;
    border-radius: 10px;
    background-color: #008af8;
    font-size: 17px;
    text-transform: uppercase;
    font-weight: 600;
    color: #fff;
    padding: 8px 15px 6px 15px;
}

.cat1 .category1
{
    font-size: 14px;
    color: #7a7a7a;
    margin-top: 1pc;
    display: inline-block;
}
.cat1
{
    margin-left: 2pc;
}
.cat1 i
{
    color: white;
    position: absolute;
    top: 14pc;
    left:10pc;
    background-color:#ee626b;
    padding:10px;
    border-radius: 50px;
}
.cat1 i:hover
{
    background-color: #0071f8;
}
.cat1 h4:hover
{
    color: #0071f8;
}
.img3
{
    background-color: #eeeeee;
    width: 15pc;
    height: 18pc;
    border-radius: 25px;
    position: absolute;
    top: 84pc;
    left: 40pc;
}
.img3 .price2
{
    text-align: right;
    position: absolute;
    left: 10pc;
    top: 1.7pc;
    border-radius: 10px;
    background-color: #008af8;
    font-size: 17px;
    text-transform: uppercase;
    font-weight: 600;
    color: #fff;
    padding: 8px 15px 6px 15px;
}
.img3 em
{
font-style: normal;
    font-size: 14px;
}
.cat2 .category2
{
    font-size: 14px;
    color: #7a7a7a;
    margin-top: 1pc;
    display: inline-block;
}
.cat2
{
    margin-left: 2pc;
}
.cat2 i
{
    color: white;
    position: absolute;
    top: 14pc;
    left:10pc;
    background-color:#ee626b;
    padding:10px;
    border-radius: 50px;
}
.cat2 i:hover
{
    background-color: #0071f8;
}
.cat2 h4:hover
{
    color: #0071f8;
}
.img4
{
    background-color: #eeeeee;
    width: 15pc;
    height: 18pc;
    border-radius: 25px;
    position: absolute;
    top: 84pc;
    left: 56.2pc;
}
.img4 .price3
{
    text-align: right;
    position: absolute;
    left: 10pc;
    top: 1.7pc;
    border-radius: 10px;
    background-color: #008af8;
    font-size: 17px;
    text-transform: uppercase;
    font-weight: 600;
    color: #fff;
    padding: 8px 15px 6px 15px;
}
.img4 em
{
font-style: normal;
    font-size: 14px;
}
.cat3 .category3
{
    font-size: 14px;
    color: #7a7a7a;
    margin-top: 1pc;
    display: inline-block;
}
.cat3
{
    margin-left: 2pc;
}
.cat3 i
{
    color: white;
    position: absolute;
    top: 14pc;
    left:10pc;
    background-color:#ee626b;
    padding:10px;
    border-radius: 50px;
}
.cat3 i:hover
{
    background-color: #0071f8;
}
.cat3 h4:hover
{
    color: #0071f8;
}