body {
    margin: 0;
    padding: 0;
}
.header {
    padding:50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav
{
    padding-left:30px;
}
.nav img {
    width:158px;
}

.navbar {
    font-family: sans-serif;
    font-size: 15px;
    list-style: none;
    display: flex;
    gap: 50px;
    padding-left:400px;
}

.navbar li a {
    color: white;
    text-decoration: none;
    font-size: 15px;
}
.header .sign 
{
    padding-right: 30px;   
}
.header .sign a
{
    text-transform:uppercase ;
    border-radius: 50px;
    background-color: #ee626b;
    font-size: 15px;
    font-family: sans-serif;
    color: white;
    text-decoration: none;
    padding: 10px;
}
.bg
{
    background-image: url("/gaming/page-heading-bg.jpg");
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #0071f8;
    height: 28pc;
    border-radius: 0px 0px 150px 150px;
}
.div1
{
    padding: 50px 0px 50px 0px;
    font-family: sans-serif;
    color: white;
    text-align: center;
}
.div1 h3
{
    font-size: 48px;
    text-transform: uppercase;
}
.div1 span
{
    font-size: 16px;
}
.div1 sup
{
    font-size: 25px;
}
.div2
{
    display: flex;
    margin-top: 5pc;
}
.div3 img
{
    margin-top: 2pc;
    margin-left: 5pc;
    overflow: hidden;
    border-radius: 25px;
    height: 29pc;
    width:30pc;
}
.div4
{
    font-family: sans-serif;
    color: #1e1e1e;
    margin-left: 8pc;
}
.div4 h4
{
    font-size: 27px;
}
.div4 em
{
    font-style: normal;
    color: #c8c8c8;
    font-size: 17px;
    text-decoration: line-through;
    font-weight: 500;
    margin-right: 5px;
}
.div4 span
{
    font-size: 27px;
    font-weight: 700;
    color: #0071f8;
}
.div4 p
{
    margin-top: 50px;
    margin-bottom: 60px;
    font-size: 14px;
    line-height: 28px;
    color: #4a4a4a;
}
.div4 input
{
    width: 80px;
    height: 50px;
    background-color: #f7f7f7;
    border: 1px solid #e7e7e7;
    border-radius: 25px;
    text-align: center;
    float: left;
    margin-right: 15px;
}
.div4 button
{
    display: inline-block;
    height: 50px;
    line-height: 50px;
    background-color: #ee626b;
    color: #fff;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 500;
    padding: 0px 25px;
    border: none;
    border-radius: 25px;
}
.div4 button:hover
{
    background-color: #0071f8;
    cursor: pointer;
}
.div4 .ul
{
    margin-inline-start: -2.5pc;
}
.div4 .ul ul
{
    margin-top:60px;
}
.div4 .ul a
{
    text-decoration: none;
    color: #0071f8;
}
.div4 ul li
{
    display: block;
    margin: 20px 0px;
    font-size: 14px;
    color: #0071f8;
}
.div4 ul li span
{
    font-family: sans-serif;
    font-size: 14px;
    width: 120px;
    display: inline-block;
    color: #aaa;
}
.horizontal-line
{
    margin: 6% 8%;
}
.div5
{
    font-family: sans-serif;
    background-color: #f7f7f7;
    border-radius: 25px;
    width:70%;
    padding: 7.5pc;
    margin-left:4.5pc;
}
.div5 h2
{
    color: #0071f8;
    cursor: pointer;
}
.div5 .reviews
{
    color: black;
    cursor: pointer;
    position: absolute;
    top:85.7pc;
    left:25pc;
}
.div5 p
{
    font-size: 14px;
    line-height: 28px;
    color: #4a4a4a;
}
.div6
{
    font-family: sans-serif;
}
.div7
{
    margin-left:4.8pc;
}
.div7 h6
{
    color: #ee626b;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 700;
}
.div7 .header-content1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-content1 a {
    text-decoration: none;
    display: inline-block;
    background-color: #ee626b;
    text-transform: uppercase;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    height: 50px;
    line-height: 50px;
    padding: 0px 30px;
    border-radius: 25px;
    margin-right: 5pc;
}
.header-content1 a:hover
{
    background-color: #0071f8;
}
.header-content1 h2
{
    font-size: 36px;
    font-weight: 700;
    text-transform: capitalize;
    margin-top: 20px;
    line-height: 44px;
}
.cat-img1
{
    background-color: #0071f8;
    width: 12.5pc;
    height: 14.3pc;
    border-radius: 25px;
    position: absolute;
    top: 130pc;
    left: 5pc;
}
.cat-img1 h4
{
    font-size: 17px;
    font-weight: 600;
    color: #fff;
    text-align: center;
}
.cat-img1 img
{
    width:12.5pc;
    border-radius:25px;
}
.cat-img2
{
    background-color: #0071f8;
    width: 12.5pc;
    height: 14.3pc;
    border-radius: 25px;
    position: absolute;
    top: 130pc;
    left: 19pc;
}
.cat-img2 h4
{
    font-size: 17px;
    font-weight: 600;
    color: #fff;
    text-align: center;
}
.cat-img2 img
{
    width:12.5pc;
    border-radius:25px;
}
.cat-img3
{
    background-color: #0071f8;
    width: 12.5pc;
    height: 14.3pc;
    border-radius: 25px;
    position: absolute;
    top: 130pc;
    left: 33pc;
}
.cat-img3 h4
{
    font-size: 17px;
    font-weight: 600;
    color: #fff;
    text-align: center;
}
.cat-img3 img
{
    width:12.5pc;
    border-radius:25px;
}
.cat-img4
{
    background-color: #0071f8;
    width: 12.5pc;
    height: 14.3pc;
    border-radius: 25px;
    position: absolute;
    top: 130pc;
    left: 47pc;
}
.cat-img4 h4
{
    font-size: 17px;
    font-weight: 600;
    color: #fff;
    text-align: center;
}
.cat-img4 img
{
    width:12.5pc;
    border-radius:25px;
}
.cat-img5
{
    background-color: #0071f8;
    width: 12.5pc;
    height: 14.3pc;
    border-radius: 25px;
    position: absolute;
    top: 130pc;
    left: 61pc;
}
.cat-img5 h4
{
    font-size: 17px;
    font-weight: 600;
    color: #fff;
    text-align: center;
}
.cat-img5 img
{
    width:12.5pc;
    border-radius:25px;
}
footer
{
    font-family: sans-serif;
    margin-top: 30pc;
    background-color: #0071f8;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("/gaming/home\ footer-bg.jpg");
    min-height: 150px;
    border-radius: 150px 150px 0px 0px;
}
footer p
{
    text-align: center;
    line-height: 90px;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
}
footer a
{
    color: #fff;
    transition: all .3s;
    position: relative;
    z-index: 3;
}