body {
    margin: 0;
    padding: 0;
}
.header {
    padding:50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav
{
    padding-left:30px;
}
.nav img {
    width:158px;
}

.navbar {
    font-family: sans-serif;
    font-size: 15px;
    list-style: none;
    display: flex;
    gap: 50px;
    padding-left:400px;
}

.navbar li a {
    color: white;
    text-decoration: none;
    font-size: 15px;
}
.header .sign 
{
    padding-right: 30px;   
}
.header .sign a
{
    text-transform:uppercase ;
    border-radius: 50px;
    background-color: #ee626b;
    font-size: 15px;
    font-family: sans-serif;
    color: white;
    text-decoration: none;
    padding: 10px;
}
.bg
{
    background-image: url("/gaming/page-heading-bg.jpg");
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #0071f8;
    height: 28pc;
    border-radius: 0px 0px 150px 150px;
}
.div1
{
    padding: 50px 0px 50px 0px;
    font-family: sans-serif;
    color: white;
    text-align: center;
}
.div1 h3
{
    font-size: 48px;
    text-transform: uppercase;
}
.div1 span
{
    font-size: 16px;
}
.div1 sup
{
    font-size: 25px;
}
.div2
{
    display: flex;
    margin-top: 5pc;
}
.div3 img
{
    margin-top: 2pc;
    margin-left: 5pc;
    overflow: hidden;
    border-radius: 25px;
    height: 29pc;
    width:30pc;
}
.div4
{
    font-family: sans-serif;
    color: #1e1e1e;
    margin-left: 8pc;
}
.div4 h4
{
    font-size: 27px;
}
.div4 em
{
    font-style: normal;
    color: #c8c8c8;
    font-size: 17px;
    text-decoration: line-through;
    font-weight: 500;
    margin-right: 5px;
}
.div4 span
{
    font-size: 27px;
    font-weight: 700;
    color: #0071f8;
}
.div4 p
{
    margin-top: 50px;
    margin-bottom: 60px;
    font-size: 14px;
    line-height: 28px;
    color: #4a4a4a;
}
.div4 input
{
    width: 80px;
    height: 50px;
    background-color: #f7f7f7;
    border: 1px solid #e7e7e7;
    border-radius: 25px;
    text-align: center;
    float: left;
    margin-right: 15px;
}
.div4 button
{
    display: inline-block;
    height: 50px;
    line-height: 50px;
    background-color: #ee626b;
    color: #fff;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 500;
    padding: 0px 25px;
    border: none;
    border-radius: 25px;
}
.div4 button:hover
{
    background-color: #0071f8;
    cursor: pointer;
}
.div4 .ul
{
    margin-inline-start: -2.5pc;
}
.div4 .ul ul
{
    margin-top:60px;
}
.div4 .ul a
{
    text-decoration: none;
    color: #0071f8;
}
.div4 ul li
{
    display: block;
    margin: 20px 0px;
    font-size: 14px;
    color: #0071f8;
}
.div4 ul li span
{
    font-family: sans-serif;
    font-size: 14px;
    width: 120px;
    display: inline-block;
    color: #aaa;
}
footer{
    position: absolute;
    background-image: url("Documents/footer-bg.jpg");
    padding: 30px 90px 80px;
    text-align: center;
    border-top-right-radius: 100px;
    border-top-left-radius: 100px;
    color: white;
    font-size: 17px;
    font-weight: 600;
    margin-top: 3%;
    width: 100%;
    margin-bottom: -10%;
}
.horizontal-line{
    margin: 6% 8%;
}
.description-box{
    margin: 6% 8%;
    background-color: #f7f7f7;
    padding: 60px;
    border-radius: 30px;
    height: 50vh;
    width: 80%;
    position: relative;
}
.description-box .head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 23%;
}
.description-box .head h6{
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
    transition: 0.3s ease;
}
.content{
    opacity: 0;
    transform: translateY(10%);
    transition: transform 0.3s ease;
    position: absolute;
}
.active{
    opacity: 1;
    transform: translateY(0%);
}
.description-box .head hr{
    width: 1px;
    height: 20px;
    background-color: black;
    transform: rotate(180deg);
}
.top-categories{
    margin: 8% 3% 5%;
}
.top-categories .top-categories-up {
    display: flex;
    justify-content: space-between;
    margin: 0% 5%;
}
.top-categories .top-categories-up .top-categories-up-left h6{
    text-transform: uppercase;
    color: #ee626b;
    font-weight: 700;
}
.top-categories .top-categories-up .top-categories-up-left h1{
    font-size: 36px;
    font-weight: 700;
    color:#1e1e1e;
}
.top-categories .top-categories-up .top-categories-up-right{
    margin-top: 5%;
}
.top-categories .top-categories-up .top-categories-up-right button{
    background-color: #ee626b;
    text-transform: uppercase;
    border: none;
    border-radius: 50px;
    font-size: 12px;
    font-weight: 700;
    padding: 15px 30px;
    transition: 0.3s ease-in-out;
}
.top-categories .top-categories-up .top-categories-up-right button:hover{
    background-color: #0071f8;
}
.top-categories .top-categories-images{
    padding: 5% 3%;
    display: flex;
    justify-content: space-evenly;
    position: relative;
}
.top-categories .top-categories-images .images-down{
    height: 35vh;
    background-color: #0071f8;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-radius: 20px;
    margin:0;
    padding: 0;
}
.top-categories .top-categories-images .images-down h3{
    color: white;
    text-align: center;
    font-size: 18px;
    padding: 1% 0%;
    margin-top: 7%;
}
.top-categories .top-categories-images .images-down img{
    border-radius: 20px;
    margin-top: 5%;
}
footer a{
    color: white;
    text-decoration: none;
    transition: 0.3s ease-in-out;
}
footer a:hover{
    color: gainsboro;
}