.form-container {
    background-color: rgb(59, 137, 255);
    width: 40%;
    margin-left: 25pc;
    margin-top: 6pc;
    padding: 2pc;
    border-radius: 15px;
}
.form-container .form-group
{
    margin-left: 4pc;
}
.form-container h2
{
    font-family: 'Poppins',sans-serif;
    text-align: center;
    color: white;
}
.form-container label {
    color: white;
    font-size: 20px;
}

.form-container input {
    width: 20pc;
    padding:20px;
}

.form-container button:hover {
    background-color: red;
}

.form-container span{
    font-family: 'Poppins',sans-serif;
    color: red;
}